.btn-i4{
    background-color: #003865;
    color: white;
}
.btn-outline-i4{
    background-color: #FFFFFF;
    color: #003865;
    border: 2px solid black;
    border-color: #003865;
}
.navbar-dark{
    background-color: #003865;
}
.scroll-lg{
    max-height: 650px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll-custom{
    max-height: 630px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll-sm{
    max-height: 283px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    overflow-x: hidden;
}
.font-xl{
    font-size: x-large;
}
.font-lg{
    font-size: large;
}