.btn-i4{
    background-color: #003865;
    color: white;
}
.navbar-dark{
    background-color: #003865;
}
.scroll-lg{
    max-height: 650px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.scroll-sm{
    max-height: 283px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
.font-xl{
    font-size: x-large;
}
.font-lg{
    font-size: large;
}