/* SPDX-License-Identifier: GPL-3.0-or-later */

html {
    font-size: 125%;
}

.price-tag::after {
    margin-left: .4ex;
    content: "€";
}

.btn-i4 {
    background-color: #003865;
    color: white;
}
.btn-outline-i4 {
    background-color: #FFFFFF;
    color: #003865;
    border: 2px solid black;
    border-color: #003865;
}

/* TODO: adjust for (other) webfrontends */
.container {
    max-width: 1260px!important;
}

.navbar-i4 {
    background-color: #003865 !important;
}
.navbar-i4-negative-money-warning {
    background-color: #ff8217 !important;
}
.navbar-i4-negative-money-critical {
    background-color: #e92626 !important;
}

.scroll-lg {
    max-height: 650px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.scroll-custom {
    max-height: 630px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.scroll-sm {
    max-height: 262px;
    margin-bottom: 10px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.font-xl {
    font-size: x-large;
}
.font-lg {
    font-size: large;
}

.iconbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.iconbar img {
    height: 3ex;
    margin: .5ex;
}

.iconbar img.disabled {
    filter: grayscale(100%);
    opacity: 0.25;
}
