<!DOCTYPE html>
<html lang=de>
<head>
    <title>{% block title %}Kaffeekasse 2000 XT{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "custom.css" %}">
</head>
<body>
    {% comment %} Navbar {% endcomment %}
    <nav class="navbar navbar-expand-md navbar-dark navbar-i4">
        <a class="navbar-brand font-xl" href="#">Kaffeekasse 2000<sup>XT</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            {% comment %} Left side {% endcomment %}
            <ul class="navbar-nav mr-auto">
                {% block navbar_items %} {% endblock %}
            </ul>
            {% comment %} Right side {% endcomment %}
            {% if user.is_authenticated %}
                <span class="navbar-text text-light font-xl pr-4">
                    {{ user.username }}
                </span>
                <span class="navbar-text text-light font-xl" id="money">
                </span>
                <a class="nav-link" href="{% url 'logout' %}">
                    <img src="{% static "logout.svg" %}" width="60" height="40"/>
                </a>
            {% endif %}
        </div>
    </nav>

    {% comment %} Main page content {% endcomment %}
    <div class="container pt-4">
        <div id="alertDiv"></div>
        {% block content %} {% endblock %}
    </div>

    {% comment %} Javascript {% endcomment %}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% comment %} Money {% endcomment %}
    {% if user.is_authenticated %}
    <script>
        var money = {{ user.money }};

        // Initial call
        updateMoney();

        // Reduce the money variable by amount and update the displayed information
        function reduceMoney(amount) {
            money -= amount;
            updateMoney();
        }

        // Increase the money variable by amount and update the displayed information
        function increaseMoney(amount) {
            money += amount;
            updateMoney();
        }

        // Update the displayed money information
        function updateMoney() {
            $("#money").html(parseFloat(money).toFixed(2) + "&euro;");
        }
    </script>
    {% endif %}

    {% comment %} Auto logout {% endcomment %}
    {% if user.is_authenticated %}
    <script>
        const auth_timeout = 10; // Timeout in seconds
        var timer;

        // Start timer, after the page finished loading
        window.onload = resetTimer;

        // Reset timer on any user input
        window.onmousemove = resetTimer; // catches mouse movements
        window.onmousedown = resetTimer; // catches mouse movements
        window.onclick = resetTimer;     // catches mouse clicks
        window.onscroll = resetTimer;    // catches scrolling
        window.onkeypress = resetTimer;  //catches keyboard actions

        function logout() {
            window.location.href = '{% url "logout" %}';
        }

        // Cancel the previous timer and start a new one
        function resetTimer() {
            {% comment %} clearTimeout(timer);
            timer = setTimeout(logout, 1000 * auth_timeout); {% endcomment %}
        }
    </script>
    {% endif %}

    {% comment %} For easier token handling {% endcomment %}
    {% if user.is_authenticated %}
    <script>
        // Fetch an token from the server.
        // On success call the success callback with the token as parameter.
        // On error call the error callback with the error object as parameter.
        function tokenCall(success, error) {
            $.ajax({
                url: "{% url "getToken" %}",
                method: "POST",
                success: function (data) {
                    success(data.token);
                },
                error: error
            })
        }
    </script>
    {% endif %}

    {% comment %} Prepare ajax to use the crsf token {% endcomment %}
    {% if user.is_authenticated %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
    {% endif %}

    {% comment %} Error messages {% endcomment %}
    <script>
        // Shows an error in the alert div.
        // Try to extract an error message from error.
        // Otherwise use def.
        function showError(error, def) {
            if (error && "responseJSON" in error && "error" in error.responseJSON) {
                displayError(error.responseJSON.error);
            } else {
                displayError(def)
            }
        }

        // Clear alert div
        function clearError() {
            $("#alertDiv").html("");
        }

        // Display the message in alertDiv as an bootstrap danger alert
        function displayError(message) {
            $("#alertDiv").html('<div class="alert alert-danger" role="alert">' + message + '</div>');
        }
    </script>
    {% block script %} {% endblock %}
</body>
</html>