<!DOCTYPE html>
<html lang=de>
<head>
    <title>{% block title %}Kaffeekasse 2000 XT{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static "custom.css" %}">
</head>
<body>
    {% comment %} Navbar {% endcomment %}
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="#">Kaffeekasse 2000<sup>XT</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            {% comment %} Left side {% endcomment %}
            <ul class="navbar-nav mr-auto">
                {% block navbar_items %} {% endblock %}
            </ul>
            {% comment %} Right side {% endcomment %}
            {% if user.is_authenticated %}
                <span class="navbar-text text-light">
                    {{ user.money }} &euro;
                </span>
                <li class="nav-item active">
                    <a class="nav-link" href="logout" onclick="logout()">
                        <img src="{% static "logout.svg" %}" width="20" height="20"/>
                    </a>
                </li>
            {% endif %}
        </div>
    </nav>

    {% comment %} Main page content {% endcomment %}
    <div class="container pt-4">
        {% block content %} {% endblock %}
    </div>

    {% comment %} Javascript {% endcomment %}
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    {% block script %} {% endblock %}
</body>
</html>