{% extends "base.html" %}

{% block navbar_items %}
<li class="nav-item active">
    <a class="nav-link font-lg" href="#">Shop</a>
</li>
<li class="nav-item">
    <a class="nav-link font-lg" href="/store/charge">Aufladen</a>
</li>
<li class="nav-item">
    <a class="nav-link font-lg" href="/store/transfer">Überweisen</a>
</li>
{% endblock %}

{% block content %}
{% comment %} Product list {% endcomment %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        <div class="col-12 mb-4">
            <h4>H&auml;ufig gekauft</h4>
            <ul class="list-group">
                {% for product in most_bought %}
                <button onclick="buy({{ product.product_id }})" type="button" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1">{{ product.product__name }}</div>
                        <div>{{ product.product__price }} &euro;</div>
                    </div>
                </button>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 mb-4">
            <h4>
                Letzte Eink&auml;ufe
            </h4>
            <ul class="list-group" id="recently_bought_list">
            </ul>
            <template id="recently_bought_annullatable_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1" id="recent_product_name">test</div>
                        <div id="recent_product_price">test</div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-i4" id="recent_bought_revert">
                            R&uuml;ckg&auml;ngig
                        </button>
                    </div>
                </label>
            </template>
            <template id="recently_bought_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1" id="recent_product_name">test</div>
                        <div id="recent_product_price">test</div>
                    </div>
                </label>
            </template>
            <template id="recently_bought_annulated_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <s><div class="mb-1 text-muted" id="recent_product_name"></div></s>
                        <div class="text-muted" id="recent_product_price"></div>
                    </div>
                </label>
            </template>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <h4>Getr&auml;nke</h4>
        <ul class="list-group">
            {% for drink in drinks %}
                <button onclick="buy({{ drink.id }})" type="button" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1">{{ drink.name }}</div>
                        <div> {{ drink.price }} &euro;</div>
                    </div>
                </button>
            {% endfor %}
        </ul>
    </div>
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <h4>Snacks</h4>
        <ul class="list-group">
            {% for candy in candies %}
                <button onclick="buy({{ candy.id }})" type="button" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1">{{ candy.name }}</div>
                        <div> {{ candy.price }} &euro;</div>
                    </div>
                </button>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const products = {
        {% for product in products %}
        {{ product.id }}: {
            price: {{ product.price }},
            name: "{{ product.name }}",
        },
        {% endfor %}
    };

    prepareAjax();

    function buy(id) {
        id = parseInt(id);
        if (isNaN(id)) {
            return;
        }
        
        tokenCall(token => {
            $.ajax({
                url: "{% url "buy_product" %}",
                method: "POST",
                data: {
                    product_id: id,
                    token: token
                },
                success: function(data) {
                    reduceMoney(products[id].price);
                    addLastBought(id);
                },
                error: function(error) {
                    showError("Fehler beim Einkaufen!");
                },
            })}, error => {
                showError("Fehler beim Einkaufen");
            });
    }

    function addLastBought(id) {
        // TODO
    }

</script>
{% endblock %}