{% extends "base.html" %}

{% comment %} SPDX-License-Identifier: GPL-3.0-or-later {% endcomment %}

{% block navbar_items %}
<li class="nav-item active">
    <a class="nav-link font-xl" href="#">Kaufen</a>
</li>
{% if config.CHARGE_PERMIT_MANUAL %}
<li class="nav-item">
    <a class="nav-link font-xl" href="{% url "charge" %}">Aufladen</a>
</li>
{% endif %}
<li class="nav-item">
    <a class="nav-link font-xl" href="{% url "transfer" %}">Überweisen</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-12">
        {% comment %} Most bought products {% endcomment %}
        <div class="col-12 mb-4">
            <h4>Häufig gekauft</h4>
            <ul class="list-group scroll-sm">
                {% for product in most_bought %}
                <button onclick="buyPK({{ product.product_id }})" type="button" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1">{{ product.product__name }}</div>
                        <div>{{ product.product__price }} €</div>
                    </div>
                </button>
                {% endfor %}
            </ul>
        </div>

        {% comment %} Last bought products {% endcomment %}
        <div class="col-12 mb-4">
            <h4>
                Letzte Einkäufe
            </h4>
            <ul class="list-group scroll-sm" id="recently_bought_list">
            </ul>
            <template id="recently_bought_annullable_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1" id="recent_product_name">test</div>
                        <div id="recent_product_price">test</div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-i4" id="recent_bought_revert">
                            Rückgängig
                        </button>
                    </div>
                </label>
            </template>
            <template id="recently_bought_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div class="mb-1" id="recent_product_name">test</div>
                        <div id="recent_product_price">test</div>
                    </div>
                </label>
            </template>
            <template id="recently_bought_annulled_template">
                <label class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <s><div class="mb-1 text-muted" id="recent_product_name"></div></s>
                        <div class="text-muted" id="recent_product_price"></div>
                    </div>
                </label>
            </template>
        </div>
    </div>

    {% comment %} Drinks {% endcomment %}
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <h4>Getränke</h4>
        <div class="accordion" id="accordionDrinks">
            {% for sublevel_cat, prods in drinks.items %}
                <div class="card">
                    <button class="btn card-header collapsed text-left" type="button" data-toggle="collapse" data-target="#collapse{{ sublevel_cat }}" aria-expanded="false" aria-controls="collapse{{ sublevel_cat }}">
                        {{ sublevel_cat }}
                    </button>
                    <div id="collapse{{ sublevel_cat }}" class="collapse" aria-labelledby="heading{{ sublevel_cat }}" data-parent="#accordionDrinks">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for prod in prods %}
                                    <button onclick="buyPK({{ prod.id }})" type="button" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="mb-1">{{ prod.name }}</div>
                                            <div> {{ prod.price }} €</div>
                                        </div>
                                    </button>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% comment %} Snacks {% endcomment %}
    <div class="col-lg-4 col-md-6 col-12 mb-4">
        <h4>Snacks</h4>
        <div class="accordion" id="accordionCandies">
            {% for sublevel_cat, prods in candies.items %}
                <div class="card">
                    <button class="btn card-header collapsed text-left" type="button" data-toggle="collapse" data-target="#collapse{{ sublevel_cat }}" aria-expanded="false" aria-controls="collapse{{ sublevel_cat }}">
                        {{ sublevel_cat }}
                    </button>
                    <div id="collapse{{ sublevel_cat }}" class="collapse" aria-labelledby="heading{{ sublevel_cat }}" data-parent="#accordionCandies">
                        <div class="card-body">
                            <ul class="list-group">
                                {% for prod in prods %}
                                    <button onclick="buyPK({{ prod.id }})" type="button" class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="mb-1">{{ prod.name }}</div>
                                            <div> {{ prod.price }} €</div>
                                        </div>
                                    </button>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    // All products
    const products = {
        {% for product in products %}
        {{ product.id }}: {
            price: {{ product.price }},
            name: "{{ product.name }}",
        },
        {% endfor %}
    };

    // List with products the user recently bought
    const recently_bought = [
        {% for product in recently_bought %}{
            id: {{ product.product_id }},
            price: {{ product.product__price }},
            name: "{{ product.product__name }}",
            annullable: {% if product.annullable %} true {% else %} false {% endif %},
            annulled: {% if product.annulled %} true {% else %} false {% endif %},
            purchase_id: {{ product.purchase__id }},
        },
        {% endfor %}
    ];

    const max_recently_bought = {{ config.N_LAST_BOUGHT_PRODUCTS }}

    updateRecentlyBoughtList();

    function buyPK(id) {
        // Check if id is a valid integer
        id = parseInt(id);
        if (isNaN(id)) {
            displayError("Ungültiges Produkt");
            return;
        }

        buy(id, {{ ident_types.PRIMARYKEY }});
    }

    barcode.handler(function(code){
        buy(code, {{ ident_types.BARCODE }});
    });

    function buy(ident, ident_type) {
        error = error => {
            showError(error, "Fehler beim Einkaufen");
        }

        $.ajax({
            url: "{% url "buy" %}",
            method: "POST",
            data: {
                ident: ident,
                ident_type: ident_type,
            },
            success: function(data) {
                clearError();
                reduceMoney(products[data.product_id].price);
                addLastBought(data.product_id, data.purchase_id);
            },
            error: error,
        });
    }

    function addLastBought(id, purchase_id) {
        if (recently_bought.length >= max_recently_bought) {
            recently_bought.pop();
        }
        recently_bought.unshift({
            id: id,
            name: products[id].name,
            price: products[id].price,
            annullable: true,
            annulled: false,
            purchase_id: purchase_id,
        });
        updateRecentlyBoughtList();
    }

    function revert(id) {
        error = error => {
            showError(error, "Fehler beim Rückgängig machen eines Einkaufes.");
        }

        return function() {
            $.ajax({
                url: "{% url "buy_revert" %}",
                method: "POST",
                data: {
                    purchase_id: id,
                },
                success: data => {
                    clearError();
                    recently_bought.forEach(item => {
                        if (item.purchase_id == id) {
                            item.annulled = true;
                            increaseMoney(item.price);
                        }
                    });
                    updateRecentlyBoughtList();
                },
                error: error,
            });
        }
    }

    function updateRecentlyBoughtList() {
        // Remove old values from list
        $("#recently_bought_list").empty();

        for (var product of recently_bought) {
            // Get and clone correct template
            var template = product.annulled ?
                $("#recently_bought_annulled_template") :
                (product.annullable ?
                    $("#recently_bought_annullable_template") :
                    $("#recently_bought_template"));
            template = template.clone().prop('content');

            // Append template
            $("#recently_bought_list").append(template);

            // Set template values
            $("#recent_product_price").html(product.price.toFixed(2) + " €").attr("id", "");
            $("#recent_product_name").html(product.name).attr("id", "");
            if (product.annullable) {
                $("#recent_bought_revert").click(revert(product.purchase_id)).attr("id", "");
            }
        }
    }
</script>
{% endblock %}
