{% extends "base.html" %}

{% block navbar_items %}
<li class="nav-item">
    <a class="nav-link font-lg" href="/admin">Administration</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    {% comment %} Numpad {% endcomment %}
    <div class="col-lg-4 col-md-6 col-12 pb-4">
        <form action="login" method="POST" id="loginForm">
            {% csrf_token %}
            <div class="btn-group-vertical" role="group">
                <div class="btn-group">
                    <input class="text-center form-control-lg mb-2" id="user_id" name="user_id">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '1';">1</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '2';">2</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '3';">3</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '4';">4</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '5';">5</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '6';">6</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '7';">7</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '8';">8</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '9';">9</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value.slice(0, -1);">&lt;</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '0';">0</button>
                    <button type="button" class="btn btn-i4 py-3" onclick="login()">Login</button>
                </div>
            </div>
        </form>
    </div>

    {% comment %} User list {% endcomment %}
    <div class="col-sm-6 col-12">
        <ul class="list-group scroll-lg">
            {% for user in users %}
                <button onclick="loginUser({{ user.user__id }})" type="button" class="list-group-item list-group-item-action">{{ user.user__nickname }}</button>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        function loginUser(id) {
            // Convert id to int
            id = parseInt(id);
            if (isNaN(id)) {
                $("#user_id").val(null);
                return;
            }

            // Set user_id value in form and submit form
            $("#user_id").val(id);
            $("#loginForm").submit();
        }

        function login() {
            var id = $("#user_id").val();
            loginUser(id);
        }
    </script>
{% endblock %}
