{% extends "base.html" %}

{% comment %} SPDX-License-Identifier: GPL-3.0-or-later {% endcomment %}

{% block navbar_items %}
<li class="nav-item">
    <a class="navbar-brand font-xl" href="#">Kaffeekasse 2020<sup>NT</sup></a>
</li>
{% endblock %}

{% block content %}
{% comment %} hidden login form {% endcomment %}
<form style="display: none" action="{% url "login" %}" method="POST" id="login_form">
    {% csrf_token %}
    <input type="hidden" name="ident" id="ident" />
    <input type="hidden" name="ident_type" id="ident_type" />
</form>
<div class="row">
     {% comment %} Numpad {% endcomment %}
     <div class="col-lg-4 col-md-6 col-12 pb-4">
            <div class="btn-group-vertical" role="group">
                <div class="btn-group">
                    <input readonly="true" class="text-center form-control-lg mb-2" id="user_id" name="ident">
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '1';">1</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '2';">2</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '3';">3</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '4';">4</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '5';">5</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '6';">6</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '7';">7</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '8';">8</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '9';">9</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value.slice(0, -1);">&lt;</button>
                    <button type="button" class="btn btn-outline-secondary py-3"
                        onclick="document.getElementById('user_id').value=document.getElementById('user_id').value + '0';">0</button>
                    <button type="button" class="btn btn-i4 py-3" onclick="loginID()">Login</button>
                </div>
            </div>
     </div>

    {% comment %} User list {% endcomment %}
    <div class="col-sm-6 col-12">
        <ul class="list-group scroll-lg">
            {% for user in users %}
                <button onclick="login({{ user.userdata__id }}, {{ ident_types.PRIMARYKEY }})" type="button" class="list-group-item list-group-item-action">{{ user.username }}</button>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        "use strict";

        function login(ident, type) {
            $("#ident").val(ident);
            $("#ident_type").val(type);
            $("#login_form").submit();
        }

        barcode_event = function(ident){
            login(ident,{{ ident_types.BARCODE }});
        };

        function loginID() {
            var id = $("#user_id").val();

            if (isNaN(parseInt(id))) {
                $("#user_id").val(null);
                displayError("ID ist ungültig.");
                return;
            }

            login(id, {{ ident_types.ID }});
        }
    </script>
{% endblock %}
